configs/*

defaults.yaml
config.yaml
group.yaml
devices.db

modules/nornir.log
logs/*
app/logs/*

venv


config.py


/modules/netbox_inventory.py

app/templates/mergely.html
app/templates/device_old.html
app/static/js/editor_new.js

app/devices.db
