{% extends 'base.html' %}

{% block title %}Config compare {{ ipaddress }}{% endblock %}
{% block body %}
<script>
// start diff script after page load
$(document).ready(function() {   //same as: $(function() {
     changeFunc();
});
</script>
<script type="text/javascript" src="{{url_for('static', filename='js/diff_page.js')}}"></script>
<div class="container-fluid">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Configs: {{ ipaddress }}</button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                        <input type="hidden" id="contextSize" value="">
                        <div class="col-sm">
                            <h3 id="previous_config_label">Previous config:</h3>
                            <textarea class="form-control" id="baseText" name="previous_config" disabled></textarea>
                        </div>
                        <div class="col-sm">
                            <h3>Last config: {{timestamp}}</h3>
                            <textarea class="form-control" id="newText" disabled>{{last_config}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input class="btn-check text-center" type="radio" name="_viewtype" onclick="diffUsingJS(0);" checked="checked" id="sidebyside">
                    <label class="btn btn-outline-secondary text-center align-items-center" for="sidebyside">Side by Side</label>
                    <input class="btn-check text-center" type="radio" onclick="diffUsingJS(1);" name="_viewtype" id="inline">
                    <label class="btn btn-outline-secondary text-center align-items-center" for="inline">Inline</label>
                    <button  class="btn btn-outline-secondary js--show-replace" id="date-btn" name="submit-btn" value="">Show changed</button>
                    <script>
                    //Button show change context
<!--                        $('.js&#45;&#45;show-replace').on('click', function () {-->
<!--                            $('.table td:not(.replace,.insert,.empty,.delete,.skip)').parents('tr').hide();-->
<!--                        });-->
                        $('.js--show-replace').on('click', function() {
                            var hide = $('.table td:not(.replace,.insert,.empty,.delete)').parents('tr');
                            hide.hide();
                            var show = $(' .replace, .insert, .empty, .delete').parents('tr');
                            //show.css('background-color', 'green');

                            //show.prev().css('background-color', 'blue');
                            //show.prev().prev().css('background-color', 'blue');
                            //show.next().css('background-color', 'blue');
                            //show.next().next().css('background-color', 'blue');
                            show.prev().show();
                            show.prev().prev().show();
                            show.prev().prev().prev().show();
                            show.next().show();
                            show.next().next().show();
                            show.next().next().next().show();
                        });
                    </script>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group has-validation">
                    <select class="form-select" id="date" name="date" required="" onchange="changeFunc();">
                      {% if cfg_directories|length  > 0: -%}
                      {% for cfg_directory in cfg_directories -%}
                        <option value="{{cfg_directory}}">{{cfg_directory}}</option>
                      {% endfor -%}
                      {% else: -%}
                        <option value="">Choose Date</option>
                      {% endif -%}
                    </select>
                    <button  class="btn btn-danger" type="submit" id="date-btn" name="submit-btn" onclick="change_config();" value="">Restore</button>
                </div>
                <div class="invalid-feedback">
                  Please select date.
                </div>
            </div>
        </div>
    </div>
    <br>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#compare" type="button" role="tab" aria-controls="compare" aria-selected="true">Compare</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#changed" type="button" role="tab" aria-controls="changed" aria-selected="false">Context compare</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <br>
        <div class="tab-pane fade show active"  id="compare" role="tabpanel" aria-labelledby="home-tab">
        <input class="form-control" type="text" id="search-table" placeholder="Enter for search" onkeyup="tableSearch()">
        <div id="diffoutput"></div>
        </div>
        <div class="tab-pane fade" id="changed" role="tabpanel" aria-labelledby="profile-tab">
          <textarea class="form-control" id="changed_config" name="previous_config"></textarea>
        </div>
    </div>
    <!--<div class="table" id="diffoutput" style="width:100%"></div>-->
</div>
<script>
function trim(str) {
    return str.toString().replace(/,|!/g,'');
}
// Put ajax data in backand
<!--var $j = jQuery.noConflict();-->
function change_config() {
    document.getElementById("baseText").value = "";
    document.getElementById("search-table").value = "";
    var server_data = {
        "ipaddress": "{{ipaddress}}",
        "date": document.getElementsByName("date")[0].value,
    };
    console.log(server_data);
    $.ajax({
        type: "POST",
        url: "/previous_config2/",
        data: JSON.stringify(server_data),
        contentType: "application/json",
        dataType: 'json',
        success: function(result) {
            console.log(result);
            if (result["status"] != "none") {
<!--                console.log(result["status"]);-->
                //show toasts param
<!--                var toastLiveExample = document.getElementById('liveToast')-->
<!--                var toast = new bootstrap.Toast(toastLiveExample)-->
<!--                toast.show();-->
                //
                // show toasts
                var changed = result["status"];
                changed = trim(changed)
                document.getElementById("number-of-changes").innerHTML =  result["status"];
                document.getElementById("changed_config").value =  changed;
                document.getElementById("toasts_strong").innerHTML = "Changes";
                document.getElementById("baseText").value = result["previous_config_file"];
                document.getElementById("small_toast").innerHTML  = document.getElementsByName("date")[0].value;
                diffUsingJS();
            }
            if (result["status"] == "none") {
                console.log(result["status"]);
                //show toasts param
                var toastLiveExample = document.getElementById('liveToast')
                var toast = new bootstrap.Toast(toastLiveExample)
                toast.show();
                //
                // show toasts
                document.getElementById("number-of-changes").innerHTML = result["status"];
                document.getElementById("toasts_strong").innerHTML = "Config";
            }
        }
    });
}
</script>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto" id="toasts_strong"></strong>
            <small id="small_toast">Settings message</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <span id="number-of-changes"></span>
        </div>
    </div>
</div>
{% endblock %}