table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\2191";
    bottom: 0.2em;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193";
    bottom: 0.2em;
}

body {
    font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}

.page-item.active .page-link {
    background-color: lightgrey !important;
    border: 1px solid black;
}

.page-link {
    color: black !important;
}

.dataTables_filter input {
    width: 500px !important;
}
.container-fluid {
width: 85% !important;
}

.navbar-nav {
    margin-left: auto;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #eeeeea;
}
