table.table tbody th {
    font-family: verdana, arial, "Bitstream Vera Sans", helvetica, sans-serif;
    background: #e0e0e0;
    font-size: 13px;
    font-weight: small;
    border: 1px solid #bbc;
    /* padding:.3em .5em .1em 2em; */
    text-align: center;
    width: 1%;
    vertical-align: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
table.table tbody tr {
    font-size: 15px;
    line-height: 15px;
    min-height: 15px;
    height: 15px;
}

table.table tbody td {
    word-break: break-word;
}

table.table .empty {
    background-color: #ddd;
}
table.table .replace {
    background-color: #fd8;
}
table.table .delete {
    background-color: #fdd;
}
table.table .skip {
    background-color: #efefef;
    border: 1px solid #aaa;
    border-right: 1px solid #bbc;
}
table.table .insert {
    background-color: #cfc;
}
table.table thead th.texttitle {
    text-align: left;
    width: 10px;
}
ins.table {
    background-color: #6aff6a;
    text-decoration: none;
}
del.table {
    background-color: #fff;
    color: #999;
    text-decoration: line-through;
}
/*
#btn-config {
    width: 30px;
    height: 30px;
    border-radius: 19px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
}
*/

.textarea-container {
    position: relative;
}
.textarea-container textarea {
    width: 100%;
    height: 320px;
    box-sizing: border-box;
}
.textarea-container button {
    position: absolute;
    top: 0;
    right: 18px;
    border: none;
    outline: none;
    box-shadow: none;
}
