{% extends 'base.html' %}

{% block title %}Config compare{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <input type="hidden" id="contextSize" value="">
        <div class="col-sm">
            <h3>Last config: {{timestamp}}</h3>
            <textarea class="form-control" id="baseText" disabled>{{last_config}}</textarea>
        </div>
        <div class="col-sm">
            <h3 id="previous_config_label">Previous config:</h3>
            <textarea class="form-control" id="newText" name="previous_config" disabled></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input class="btn-check text-center " type="radio" name="_viewtype" checked="checked" id="sidebyside">
                <label class="btn btn-outline-secondary text-center align-items-center" for="sidebyside">Two tables</label>
                <input class="btn-check text-center " type="radio" name="_viewtype" id="inline">
                <label class="btn btn-outline-secondary text-center align-items-center" for="inline">One table</label>
                <input class="btn btn-primary btn-block text-center align-items-center" type="button" value="Compare" onclick="diffUsingJS();">
            </div>
        </div>
        <div class="col-sm">
                <div class="input-group has-validation">
                    <select class="form-select" id="date" name="date" required="" onchange="changeFunc();">
                      {% if cfg_directories|length  > 0: -%}
                      {% for cfg_directory in cfg_directories -%}
                        <option value="{{cfg_directory}}">{{cfg_directory}}</option>
                      {% endfor -%}
                      {% else: -%}
                        <option value="">Choose Date</option>
                      {% endif -%}
                    </select>
                    <button  class="btn btn-outline-primary" type="submit" id="date-btn" name="submit-btn" onclick="change_config();" value="" hidden="hidden">Choose</button>
                </div>
                <div class="invalid-feedback">
                  Please select userid.
                </div>
        </div>
    </div>
</div>
<div class="table" id="diffoutput" style="width:100%"></div>
<script>
// start diff script after page load
$(document).ready(function() {   //same as: $(function() {
     changeFunc();
});
</script>
<script>
// start diff script after change element in date list
function changeFunc() {
	var selectBox = document.getElementById("date");
	var selectedValue = selectBox.options[selectBox.selectedIndex].value;
	document.getElementById("previous_config_label").innerHTML = "Previous config: " + document.getElementsByName("date")[0].value;
	change_config();
}
  </script>
<script>
// Put ajax data in backand
<!--var $j = jQuery.noConflict();-->
function change_config() {
        document.getElementById("newText").value = "";
<!--    if (document.getElementsByName("jabber_status")[0]) {-->
<!--        jabber_status = "true";-->
<!--        console.log(mobility_status);-->
<!--    } else {-->
<!--        jabber_status = "false";-->
<!--        console.log(mobility_status);-->
<!--    }-->
    var server_data = {
        "ipaddress": "{{ipaddress}}",
        "date": document.getElementsByName("date")[0].value,
    };
    console.log(server_data);
    $.ajax({
        type: "POST",
        url: "/previous_config/",
        data: JSON.stringify(server_data),
        contentType: "application/json",
        dataType: 'json',
        success: function(result) {
            console.log(result);
            if (result["status"] != "none") {
                console.log(result["status"]);
                //show toasts param
                var toastLiveExample = document.getElementById('liveToast')
                var toast = new bootstrap.Toast(toastLiveExample)
                toast.show();
                //
                // show toasts
                document.getElementById("number-of-changes").innerHTML = result["status"];
                document.getElementById("toasts_strong").innerHTML = "Changes";
                document.getElementById("newText").value = result["previous_config_file"];
                document.getElementById("small_toast").innerHTML  = document.getElementsByName("date")[0].value;
                diffUsingJS();

            }
            if (result["status"] == "none") {
                console.log(result["status"]);
                //show toasts param
                var toastLiveExample = document.getElementById('liveToast')
                var toast = new bootstrap.Toast(toastLiveExample)
                toast.show();
                //
                // show toasts
                document.getElementById("number-of-changes").innerHTML = result["status"];
                document.getElementById("toasts_strong").innerHTML = "Config";
            }
        }
    });
}
</script>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto" id="toasts_strong"></strong>
            <small id="small_toast">Settings message</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <span id="number-of-changes"></span>
        </div>
    </div>
</div>
    <script language="javascript">
    // diff function
        var $d = dojo.byId;
        dojo.require("dojo.io");
        var url = window.location.toString().split("#")[0];

        function diffUsingJS() {
            var base = difflib.stringAsLines($d("baseText").value);
            var newtxt = difflib.stringAsLines($d("newText").value);
            var sm = new difflib.SequenceMatcher(base, newtxt);
            var opcodes = sm.get_opcodes();
            var diffoutputdiv = $d("diffoutput");
            while (diffoutputdiv.firstChild) diffoutputdiv.removeChild(diffoutputdiv.firstChild);
            var contextSize = $d("contextSize").value;
            contextSize = contextSize ? contextSize : null;
            diffoutputdiv.appendChild(diffview.buildView({
                baseTextLines: base,
                newTextLines: newtxt,
                opcodes: opcodes,
                baseTextName: "Last config",
                newTextName: "Previous config",
                contextSize: contextSize,
                viewType: $d("inline").checked ? 1 : 0
            }));
            window.location = url + "#diff";
        }
<!--        function diffUsingPython() {-->
<!--            dojo.io.bind({-->
<!--                url: "/diff/postYieldDiffData",-->
<!--                method: "POST",-->
<!--                content: {-->
<!--                    baseText: $("baseText").value,-->
<!--                    newText: $("newText").value,-->
<!--                    ignoreWhitespace: "Y"-->
<!--                },-->
<!--                load: function(type, data, evt) {-->
<!--                    try {-->
<!--                        data = eval('(' + data + ')');-->
<!--                        while (diffoutputdiv.firstChild) diffoutputdiv.removeChild(diffoutputdiv.firstChild);-->
<!--                        $("output").appendChild(diffview.buildView({-->
<!--                            baseTextLines: data.baseTextLines,-->
<!--                            newTextLines: data.newTextLines,-->
<!--                            opcodes: data.opcodes,-->
<!--                            baseTextName: data.baseTextName,-->
<!--                            newTextName: data.newTextName,-->
<!--                            contextSize: contextSize-->
<!--                        }));-->
<!--                    } catch (ex) {-->
<!--                        alert("An error occurred updating the diff view:\n" + ex.toString());-->
<!--                    }-->
<!--                },-->
<!--                error: function(type, evt) {-->
<!--                    alert('Error occurred getting diff data.  Check the server logs.');-->
<!--                },-->
<!--                type: 'text/javascript'-->
<!--            });-->
<!--        }-->
    </script>
{% endblock %}