{% extends 'base.html' %}

{% block title %}Config compare{% endblock %}
{% block body %}
<!--    <style>-->
<!--        textarea {-->
<!--              width: 100%;-->
<!--              height: 320px;-->
<!--            }-->
<!--            .options {-->
<!--              margin-bottom: 5px;-->
<!--            }-->
<!--        &lt;!&ndash;    &ndash;&gt;-->
<!--        table.table tbody th {-->
<!--            font-family:verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;-->
<!--            background:#e0e0e0;-->
<!--            font-size:13px;-->
<!--            font-weight:small;-->
<!--            border:1px solid #BBC;-->
<!--        &lt;!&ndash;	color:#886;&ndash;&gt;-->
<!--            padding:.3em .5em .1em 2em;-->
<!--            text-align:center;-->
<!--            width: 1%;-->
<!--        }-->
<!--        table.table tbody tr {-->
<!--            font-size:15px;-->
<!--            line-height: 10px;-->
<!--            min-height: 10px;-->
<!--            height: 10px;-->
<!--        }-->
<!--        &lt;!&ndash;&ndash;&gt;-->
<!--        table.table .empty {-->
<!--            background-color:#DDD;-->
<!--        }-->
<!--        table.table  .replace {-->
<!--            background-color:#FD8-->
<!--        }-->
<!--        table.table  .delete {-->
<!--            background-color:#E99;-->
<!--        }-->
<!--        table.table  .skip {-->
<!--            background-color:#EFEFEF;-->
<!--            border:1px solid #AAA;-->
<!--            border-right:1px solid #BBC;-->
<!--        }-->
<!--        table.table  .insert {-->
<!--            background-color:#9E9-->
<!--        }-->
<!--        table.tabel th.author {-->
<!--            text-align:right;-->
<!--            border-top:1px solid #BBC;-->
<!--            background:#EFEFEF-->
<!--        }-->
<!--    </style>-->
<div class="container-fluid">
    <div class="row">
        <input type="hidden" id="contextSize" value="">
        <div class="col-sm">
            <h3>Last config: {{timestamp}}</h3>
            <textarea class="form-control" id="baseText" >{{last_config}}</textarea>
        </div>
        <div class="col-sm">
            <h3>Previous config: </h3>
            <textarea class="form-control" id="newText" >{{b}}</textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input class="btn-check text-center " type="radio" name="_viewtype" checked="checked" id="sidebyside">
                <label class="btn btn-outline-secondary text-center align-items-center" for="sidebyside">Two tables</label>
                <input class="btn-check text-center " type="radio" name="_viewtype" id="inline">
                <label class="btn btn-outline-secondary text-center align-items-center" for="inline">One table</label>
                <input class="btn btn-primary btn-block text-center align-items-center" type="button" value="Compare" onclick="diffUsingJS();">
            </div>
        </div>
        <div class="col-sm">
                <div class="input-group has-validation">
                    <select class="form-select" id="date" name="date" required="">
                      {% if cfg_directories|length  > 0: -%}
                      {% for cfg_directory in cfg_directories -%}
                        <option value="{{cfg_directory}}">{{cfg_directory}}</option>
                      {% endfor -%}
                      {% else: -%}
                        <option value="">Choose Date</option>
                      {% endif -%}
                    </select>
                    <button  class="btn btn-outline-primary" type="submit" id="date-btn" name="submit-btn" value="edit">Choose</button>
                </div>
                <div class="invalid-feedback">
                  Please select userid.
                </div>
        </div>
    </div>
</div>
<div class="table" id="diffoutput" style="width:100%"></div>
    <script language="javascript">
        var $ = dojo.byId;
        dojo.require("dojo.io");
        var url = window.location.toString().split("#")[0];

        function diffUsingJS() {
            var base = difflib.stringAsLines($("baseText").value);
            var newtxt = difflib.stringAsLines($("newText").value);
            var sm = new difflib.SequenceMatcher(base, newtxt);
            var opcodes = sm.get_opcodes();
            var diffoutputdiv = $("diffoutput");
            while (diffoutputdiv.firstChild) diffoutputdiv.removeChild(diffoutputdiv.firstChild);
            var contextSize = $("contextSize").value;
            contextSize = contextSize ? contextSize : null;
            diffoutputdiv.appendChild(diffview.buildView({
                baseTextLines: base,
                newTextLines: newtxt,
                opcodes: opcodes,
                baseTextName: "Last config",
                newTextName: "Previous config",
                contextSize: contextSize,
                viewType: $("inline").checked ? 1 : 0
            }));
            window.location = url + "#diff";

        }
<!--        function diffUsingPython() {-->
<!--            dojo.io.bind({-->
<!--                url: "/diff/postYieldDiffData",-->
<!--                method: "POST",-->
<!--                content: {-->
<!--                    baseText: $("baseText").value,-->
<!--                    newText: $("newText").value,-->
<!--                    ignoreWhitespace: "Y"-->
<!--                },-->
<!--                load: function(type, data, evt) {-->
<!--                    try {-->
<!--                        data = eval('(' + data + ')');-->
<!--                        while (diffoutputdiv.firstChild) diffoutputdiv.removeChild(diffoutputdiv.firstChild);-->
<!--                        $("output").appendChild(diffview.buildView({-->
<!--                            baseTextLines: data.baseTextLines,-->
<!--                            newTextLines: data.newTextLines,-->
<!--                            opcodes: data.opcodes,-->
<!--                            baseTextName: data.baseTextName,-->
<!--                            newTextName: data.newTextName,-->
<!--                            contextSize: contextSize-->
<!--                        }));-->
<!--                    } catch (ex) {-->
<!--                        alert("An error occurred updating the diff view:\n" + ex.toString());-->
<!--                    }-->
<!--                },-->
<!--                error: function(type, evt) {-->
<!--                    alert('Error occurred getting diff data.  Check the server logs.');-->
<!--                },-->
<!--                type: 'text/javascript'-->
<!--            });-->
<!--        }-->
    </script>
{% endblock %}