{% extends 'base.html' %}

{% block title %}Search device{% endblock %}
{% block body %}
<div class="col-md-12 col-lg-8 container">
<h4 class="mb-3" >Search for the latest device configuration file</h4>
  <form method="post" class="needs-validation" novalidate>
      <div class="row g-3">
          <div class="col-sm-6 input-group">
              {% if  ipaddress=='': -%}
              <input type="text" class="form-control" name="searchdevice" id="searchdevice" placeholder="Enter ipaddress value=" required="">
              <button  class="btn btn-outline-primary" type="submit" name="submit-btn" id="search-btn" value="search" disabled>Search</button>
              {% else -%}
                  <input type="text" class="form-control" name="searchdevice" id="searchdevice_modified" placeholder="Enter ipaddress" value="{{ipaddress}}" required="">
                  <button  class="btn btn-outline-primary" type="submit" name="submit-btn" id="search-btn_secondary" value="search" disabled>Search</button>
              {% endif -%}
              <div class="invalid-feedback">
                Valid ipaddress is required.
              </div>
          </div>
      </div>
  </form>
</div>
<script>
$(":input[name='searchdevice']").change(function(event) {
	var s = $(this).val()
	if (s.match("(^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$)")) {
		$(":input[name='searchdevice']").attr("class", "form-control is-valid");
		$('#search-btn_secondary')[0].disabled = false;
	} else if ($(this).val() == "") {
		$(":input[name='searchdevice']").attr("class", "form-control");
		$('#search-btn_secondary')[0].disabled = true;

	} else {
		$(":input[name='searchdevice']").attr("class", "form-control is-invalid");
		$('#search-btn_secondary')[0].disabled = true;

	}
});

$(":input[name='searchdevice']").keyup(function(event) {
	var s = $(this).val()
	if (s.match("(^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$)")) {
		$(":input[name='searchdevice']").attr("class", "form-control is-valid");
		$('#search-btn_secondary')[0].disabled = false;
	} else if ($(this).val() == "") {
		$(":input[name='searchdevice']").attr("class", "form-control");
		$('#search-btn_secondary')[0].disabled = true;

	} else {
		$(":input[name='searchdevice']").attr("class", "form-control is-invalid");
		$('#search-btn_secondary')[0].disabled = true;

	}
});

$(":input[name='searchdevice']").click(function(event) {
	var s = $(this).val()
	if (s.match("(^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$)")) {
		$(":input[name='searchdevice']").attr("class", "form-control is-valid");
		$('#search-btn_secondary')[0].disabled = false;
	} else if ($(this).val() == "") {
		$(":input[name='searchdevice']").attr("class", "form-control");
		$('#search-btn_secondary')[0].disabled = true;
	} else {
		$(":input[name='searchdevice']").attr("input", "form-control is-invalid");
		$('#search-btn_secondary')[0].disabled = true;
	}
});
</script>
{% endblock %}