<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"/>-->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jq.js')}}"></script>
<!--    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>-->
<!--    <script type="text/javascript" src="{{url_for('static', filename='js/dojo.js')}}"></script>-->
<!--    <script type="text/javascript" src="{{url_for('static', filename='js/diffview.js')}}"></script>-->
    <script type="text/javascript" src="{{url_for('static', filename='js/diff_table.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/difflib.js')}}"></script>
    <style>
    textarea {
      width: 100%;
      height: 320px;
    }
    .options {
      margin-bottom: 5px;
    }
        #btn-back-to-top {
          position: fixed;
          bottom: 20px;
          right: 20px;
          display: none;
        }
    </style>

    <title>{% block title %}{% endblock%}</title>

        <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{url_for('static', filename='images/favicons/apple-touch-icon.png')}}" sizes="180x180">
    <link rel="icon" href="{{url_for('static', filename='images/favicons/favicon-32x32.png')}}" sizes="32x32" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='images/favicons/favicon-16x16.png')}}" sizes="16x16" type="image/png">
    <link rel="manifest" href="{{url_for('static', filename='images/favicons/manifest.json')}}">
    <link rel="mask-icon" href="{{url_for('static', filename='images/favicons/afari-pinned-tab.svg')}}" color="#7952b3">
    <link rel="icon" href="{{url_for('static', filename='images/favicons/favicon.ico')}}">
</head>
<body>
    <div class="container">
      <main>
          <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                  <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
<!--                  <img class="mb-4" src="{{url_for('static', filename='images/logo-removebg-preview_r.png')}}" alt="" width="60" height="60">-->
                  <span class="fs-4">Network Automated BackUp System</span>
              </a>
              <div class="col text-end">
                  {% if  navigation is true: -%}
                  <button class="btn  btn-primary btn-block" onclick="document.location='/'" name="home_btn" value="home_btn" id="home_btn">Search</button>
                  <button class="btn  btn-primary btn-block" onclick="document.location='/devices'" name="devices_btn" value="devices_btn" id="by_phone_btn">Devices</button>
                  <button class="btn  btn-danger btn-block" onclick="document.location='/login'" name="logout-btn" value="logout-btn" id="logout-btn">Log out</button>
                  {% else -%}
                  {% endif -%}
              </div>
          </header>
              {% with messages = get_flashed_messages(with_categories=true) -%}
              {% if messages -%}
              {% for category, message in messages -%}
              <div id="AlertMessage"  class="alert alert-{{ category }}" role="alert">
                  {{ message }}
              </div>
                  {% endfor -%}
                  {% endif -%}
                  {% endwith -%}
              <script>
<!--        setTimeout(function() {-->
<!--            $('#successMessage').fadeOut('fast');-->
<!--        }, 3000);-->
                window.setTimeout(function() {
                    $(".alert").slideUp(500, function() {
                        $(this).remove();
                    });
                }, 3000);
              </script>
        {% block body %}{% endblock%}
          <!-- Back to top button -->
          <button type="button" class="btn btn-secondary btn-floating btn" id="btn-back-to-top">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                  <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
              </svg>
          </button>
            <!-- Explanation -->
          <script>
                //Get the button
            let mybutton = document.getElementById("btn-back-to-top");

            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
              scrollFunction();
            };

            function scrollFunction() {
              if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
              ) {
                mybutton.style.display = "block";
              } else {
                mybutton.style.display = "none";
              }
            }
            // When the user clicks on the button, scroll to the top of the document
            mybutton.addEventListener("click", backToTop);

            function backToTop() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
            }
           </script>
      <footer class="my-5 pt-5 text-muted text-center text-small">
          <hr>
        <p class="mb-1">&copy; 2021-2022 Gridnev.pro</p>
<!--        <ul class="list-inline">-->
<!--          <li class="list-inline-item"><a href="#">Privacy</a></li>-->
<!--          <li class="list-inline-item"><a href="#">Terms</a></li>-->
<!--          <li class="list-inline-item"><a href="#">Support</a></li>-->
<!--        </ul>-->
      </footer>
      </main>
    </div>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto" id="toasts_strong"></strong>
                <small id="small_toast">Settings message</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <span id="number-of-changes"></span>
            </div>
        </div>
    </div>
</body>
</html>