{% extends 'base.html' %}
{% block title %}Config Page{% endblock %}
{% block body %}
<h4>Device: {{ ipaddress }}</h4>
<br>
<h6 id="config-date-label">Config date: {{ timestamp }}</h6>
<textarea disabled id="config-area">{{ last_config }}</textarea>
<div  class="row">
    <div class="col col-lg"></div>
    <div class="col"></div>
    <div class="input-group has-validation col text-end">
        {% if check_previous_config is true: -%}
        <select class="form-select" id="date" name="date" required="" onchange="changeFunc();">
            {% if config_timestamp_list|length  > 0: -%}
            {% for config_timestamp in config_timestamp_list -%}
            <option value="{{config_timestamp}}">{{config_timestamp}}</option>
            {% endfor -%}
            {% else: -%}
            <option value="">Choose Date</option>
            {% endif -%}
        </select>
        <a href="/diff_page/{{ ipaddress }}" class="btn btn-secondary btn-floating btn-sm" role="button" title="Config compare"><i class="bi bi-body-text"></i>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-body-text" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 0 .5Zm0 2A.5.5 0 0 1 .5 2h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm9 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-9 2A.5.5 0 0 1 .5 4h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm5 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm-12 2A.5.5 0 0 1 .5 6h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5Zm8 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-8 2A.5.5 0 0 1 .5 8h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm-7 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Z"/>
            </svg> Config compare</a>
        {% else -%}
        <select class="form-select" id="date" name="date" required="" onchange="changeFunc();" disabled>
            {% if config_timestamp_list|length  > 0: -%}
            {% for config_timestamp in config_timestamp_list -%}
            <option value="{{config_timestamp}}">{{config_timestamp}}</option>
            {% endfor -%}
            {% else: -%}
            <option value="">Choose Date</option>
            {% endif -%}
        </select>
        <a href="/diff_page/{{ ipaddress }}" class="btn btn-secondary btn-floating btn-sm disabled" role="button" title="Config compare">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-body-text" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 0 .5Zm0 2A.5.5 0 0 1 .5 2h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm9 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-9 2A.5.5 0 0 1 .5 4h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm5 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm-12 2A.5.5 0 0 1 .5 6h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5Zm8 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-8 2A.5.5 0 0 1 .5 8h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm-7 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Z"/>
            </svg> Config compare</a>
        {% endif -%}
    </div>
    <script>
        // start diff script after change element in date list
        function changeFunc() {
            var selectBox = document.getElementById("date");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;
            document.getElementById("config-date-label").innerHTML = "Config date: " + document.getElementsByName("date")[0].value;
            change_config();
        }
    </script>
    <script>
        function change_config() {
            document.getElementById("config-area").value = "";
            var server_data = {
                "ipaddress": "{{ipaddress}}",
                "date": document.getElementsByName("date")[0].value,
            };
            console.log(server_data);
            $.ajax({
                type: "POST",
                url: "/previous_config/",
                data: JSON.stringify(server_data),
                contentType: "application/json",
                dataType: 'json',
                success: function(result) {
                    if (result["status"] != "none") {
                        document.getElementById("config-area").value = result["previous_config_file"];
                    }
                    if (result["status"] == "none") {
                        console.log(result["status"]);
                        //show toasts param
                        var toastLiveExample = document.getElementById('liveToast')
                        var toast = new bootstrap.Toast(toastLiveExample)
                        toast.show();
                        // show toasts
                        document.getElementById("number-of-changes").innerHTML = result["status"];
                        document.getElementById("toasts_strong").innerHTML = "Config";
                    }
                }
            });
        }
    </script>
</div>
{% endblock %}