{% extends 'base.html' %} {% block title %}Devices status{% endblock %} {% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
</nav>
<script src="{{url_for('static', filename='js/Chart.js')}}"></script>

<div class="row my-4">
<script>
    $(document).ready(function() {
        var ctx = $("#chart-line");
        var myLineChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: [
                {% for device in devices_count %}{%if device != 'Total'%}" {{device}}",{%endif%}{%endfor%}
                ],
                datasets: [{
                    data: [
                    {% for device in devices_count %}{%if device != 'Total'%}{{devices_count[device]}},{%endif%}{%endfor%}
                    ],
                    backgroundColor: ["rgba(255, 0, 0, 0.5)", "rgba(100, 255, 0, 0.5)", "rgba(200, 50, 255, 0.5)", "rgba(0, 100, 255, 0.5)"]
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        position: "bottom",
                        text: 'Total: {{devices_count["Total"]}}'

                    }
                }
            }
        });
    });
</script>
<!--<div class="page-content page-container" id="page-content">-->
<!--    <div class="padding">-->
<!--        <div class="row">-->
<!--            <div class="container-fluid d-flex justify-content-center">-->
<!--                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">-->
<!--                    <div class="card">-->
<!--                        <div class="card-header">Statistics</div>-->
<!--                        <div class="card-body">-->
<!--                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">-->
<!--                                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">-->
<!--                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>-->
<!--                                </div>-->
<!--                                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">-->
<!--                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>-->
<!--                                </div>-->
<!--                            </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0" id="page-content">
    <div class="card">
        <div class="card-header">Vendor statistics</div>
        <div class="card-body">
            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                </div>
                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                </div>
            </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
        </div>
    </div>
    </div>
<!--    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">-->
<!--        <div class="card">-->
<!--            <h5 class="card-header">Statistics</h5>-->
<!--            <div class="card-body">-->
<!--                {% for device in devices_count %}-->
<!--                {% if device == 'Total' %}-->
<!--                <h5 class="card-title">Total devices: {{ devices_count[device] }} </h5>-->
<!--                {% elif device != None %}-->
<!--                <p class="card-text">{{device}}: {{ devices_count[device] }}</p>-->
<!--                {% else %}-->
<!--                <p class="card-text text-danger">Unknown: {{devices_count[device]}}</p>-->
<!--                {% endif %}-->
<!--                {% endfor%}-->
<!--            </div>-->
<!--          </div>-->
<!--    </div>-->
<!--    </div>-->
<!--    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">-->
<!--        <div class="card">-->
<!--            <h5 class="card-header">Statistics</h5>-->
<!--            <div class="card-body">-->
<!--                {% for device in devices_count %}-->
<!--                {% if device == 'Total' %}-->
<!--                <h5 class="card-title">Total devices: {{ devices_count[device] }} </h5>-->
<!--                {% elif device != None %}-->
<!--                <p class="card-text">{{device}}: {{ devices_count[device] }}</p>-->
<!--                {% else %}-->
<!--                <p class="card-text text-danger">Unknown: {{devices_count[device]}}</p>-->
<!--                {% endif %}-->
<!--                {% endfor%}-->
<!--            </div>-->
<!--          </div>-->
<!--    </div>-->
    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
        <div class="card">
            <h5 class="card-header">Revenue</h5>
            <div class="card-body">
              <h5 class="card-title">$2.4k</h5>
              <p class="card-text">Feb 1 - Apr 1, United States</p>
              <p class="card-text text-success">4.6% increase since last month</p>
            </div>
          </div>
    </div>
    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
        <div class="card">
            <h5 class="card-header">Purchases</h5>
            <div class="card-body">
              <h5 class="card-title">43</h5>
              <p class="card-text">Feb 1 - Apr 1, United States</p>
              <p class="card-text text-danger">2.6% decrease since last month</p>
            </div>
          </div>
    </div>
    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
        <div class="card">
            <h5 class="card-header">Traffic</h5>
            <div class="card-body">
              <h5 class="card-title">64k</h5>
              <p class="card-text">Feb 1 - Apr 1, United States</p>
              <p class="card-text text-success">2.5% increase since last month</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-xl-8 mb-4 mb-lg-0">
        <div class="card">
            <h5 class="card-header">Latest Errors</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Vendor</th>
                            <th scope="col">Hostname</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">17371705</th>
                            <td>Volt Premium Bootstrap 5 Dashboard</td>
                            <td>johndoe@gmail.com</td>
                            <td>€61.11</td>
                            <td>Aug 31 2020</td>
                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                          </tr>
                          <tr>
                            <th scope="row">17370540</th>
                            <td>Pixel Pro Premium Bootstrap UI Kit</td>
                            <td>jacob.monroe@company.com</td>
                            <td>$153.11</td>
                            <td>Aug 28 2020</td>
                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                          </tr>
                          <tr>
                            <th scope="row">17371705</th>
                            <td>Volt Premium Bootstrap 5 Dashboard</td>
                            <td>johndoe@gmail.com</td>
                            <td>€61.11</td>
                            <td>Aug 31 2020</td>
                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                          </tr>
                          <tr>
                            <th scope="row">17370540</th>
                            <td>Pixel Pro Premium Bootstrap UI Kit</td>
                            <td>jacob.monroe@company.com</td>
                            <td>$153.11</td>
                            <td>Aug 28 2020</td>
                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                          </tr>
                          <tr>
                            <th scope="row">17371705</th>
                            <td>Volt Premium Bootstrap 5 Dashboard</td>
                            <td>johndoe@gmail.com</td>
                            <td>€61.11</td>
                            <td>Aug 31 2020</td>
                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                          </tr>
                          <tr>
                            <th scope="row">17370540</th>
                            <td>Pixel Pro Premium Bootstrap UI Kit</td>
                            <td>jacob.monroe@company.com</td>
                            <td>$153.11</td>
                            <td>Aug 28 2020</td>
                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <a href="#" class="btn btn-block btn-light">View all</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-4">
        <div class="card">
            <h5 class="card-header">Traffic last 6 months</h5>
            <div class="card-body">
                <div id="traffic-chart"></div>
            </div>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>


    <script>
        new Chartist.Line('#traffic-chart', {
            labels: ['January', 'Februrary', 'March', 'April', 'May', 'June'],
            series: [
                [23000, 25000, 19000, 34000, 56000, 64000]
            ]
            }, {
            low: 0,
            showArea: true
        });
    </script>
{% endblock %}