{% extends 'base.html' %}
{% block title %}Devices status{% endblock %}
{% block body %}
<style>
<!--    .table tbody tr:nth-child(4n+1), .table tbody tr:nth-child(4n+2) {-->
<!-- background: #aaa;-->
<!--}-->

.table tbody tr:nth-child(4n+1), .table tbody tr:nth-child(4n+2) {
 background: #ccc;
}
</style>
    <div>
        <input class="form-control" type="text" id="search-table" placeholder="Enter for search" onkeyup="tableSearch()">
        <script>
            //Search on compare table
                function tableSearch() {
                    var phrase = document.getElementById('search-table');
                    var table = document.getElementById('device-table');
                    var regPhrase = new RegExp(phrase.value, 'i');
                    var flag = false;
                    for (var i = 1; i < table.rows.length; i++) {
                        flag = false;
                        for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                            flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                            if (flag) break;
                        }
                        if (flag) {
                            table.rows[i].style.display = "";
                        } else {
                            table.rows[i].style.display = "none";
                        }
                    }
                }
        </script>
    </div>
    <br>
    <div class="accordion" id="accordion">
        <table class="table table-sm" id="device-table">
            <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col">Device ip</th>
                <th scope="col" class="text-center">Vendor</th>
                <th scope="col" class="text-center">Last update</th>
                <th scope="col" class="text-center">Last Changed</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for device in devices_env: %}
            <tr  class="accordion-item">
                <th scope="row" class="text-center">
                    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#device{{devices_env[device].html_element_id}}" aria-expanded="true" aria-controls="device{{devices_env[device].html_element_id}}">
                        {{devices_env[device].html_element_id}}
                    </button>
                </th>
                <td>
                    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#device{{devices_env[device].html_element_id}}" aria-expanded="true" aria-controls="device{{devices_env[device].html_element_id}}">
                    {{ devices_env[device].hostname }}: ({{ device }})
                    </button>
                </td>
                <td class="align-middle text-center">{{ devices_env[device].vendor }}</td>
                <td class="align-middle text-center">{{ devices_env[device].timestamp }}</td>
                <td class="align-middle text-center">{{ devices_env[device].last_config_timestamp }}</td>
                <td class="align-middle text-center">
                    {% if devices_env[device].last_config_timestamp != "No backup yet": -%}
                    <a href="/config_page/{{ device }}" class="btn btn-secondary btn-floating btn-sm" role="button" title="View config">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                        </svg>
                    </a>
                    {% else -%}
                    <a href="/config_page/{{ device }}" class="btn btn-secondary btn-floating btn-sm disabled" role="button" title="View config">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                        </svg>
                    </a>
                    {% endif -%}
                    {% if devices_env[device].check_previous_config is true: -%}
                    <a href="/diff_page/{{ device }}" class="btn btn-secondary btn-floating btn-sm" role="button" title="Config compare">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-body-text" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 0 .5Zm0 2A.5.5 0 0 1 .5 2h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm9 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-9 2A.5.5 0 0 1 .5 4h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm5 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm-12 2A.5.5 0 0 1 .5 6h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5Zm8 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-8 2A.5.5 0 0 1 .5 8h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm-7 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Z"/>
                        </svg>
                    </a>
                    {% else -%}
                    <a href="/diff_page/{{ device }}" class="btn btn-secondary btn-floating btn-sm disabled" role="button" title="Config compare">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-body-text" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 0 .5Zm0 2A.5.5 0 0 1 .5 2h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm9 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-9 2A.5.5 0 0 1 .5 4h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm5 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm-12 2A.5.5 0 0 1 .5 6h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5Zm8 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-8 2A.5.5 0 0 1 .5 8h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm-7 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Z"/>
                        </svg>
                    </a>
                    {% endif -%}
                </td>
            </tr>
            <tr id="device{{devices_env[device].html_element_id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <td colspan="5" >
                    <div id="device{{devices_env[device].html_element_id}}" class="accordion-collapse collapse" aria-labelledby="heading-{{ devices_env[device].html_element_id }}">
                        <div class="accordion-body">
                            <h6>Vendor: {{ devices_env[device].vendor }}</h6>
                            <h6>Model: {{ devices_env[device].model }}</h6>
                            <h6>OS version: {{ devices_env[device].os_version }}</h6>
                            <h6>SN: {{ devices_env[device].sn }}</h6>
                            <h6>Uptime: {{ devices_env[device].uptime }}</h6>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
<script>
// Put ajax data in backand
<!--var $j = jQuery.noConflict();-->
function getstatus() {
    $.ajax({
        type: "POST",
        url: "/devices_status/",
        data: JSON.stringify(server_data),
        contentType: "application/json",
        dataType: 'json',
        success: function(result) {
            console.log(result);
            if (result["status"] != "none") {
<!--                console.log(result["status"]);-->
                //show toasts param
<!--                var toastLiveExample = document.getElementById('liveToast')-->
<!--                var toast = new bootstrap.Toast(toastLiveExample)-->
<!--                toast.show();-->
                //
                // show toasts
                var changed = result["status"];
                changed = trim(changed)
                document.getElementById("number-of-changes").innerHTML =  result["status"];
                document.getElementById("changed_config").value =  changed;
                document.getElementById("toasts_strong").innerHTML = "Changes";
                document.getElementById("baseText").value = result["previous_config_file"];
                document.getElementById("small_toast").innerHTML  = document.getElementsByName("date")[0].value;
                diffUsingJS();
            }
            if (result["status"] == "none") {
                console.log(result["status"]);
                //show toasts param
                var toastLiveExample = document.getElementById('liveToast')
                var toast = new bootstrap.Toast(toastLiveExample)
                toast.show();
                //
                // show toasts
                document.getElementById("number-of-changes").innerHTML = result["status"];
                document.getElementById("toasts_strong").innerHTML = "Config";
            }
        }
    });
}
</script>
{% endblock %}