{% extends 'base.html' %}
{% block title %}Devices status{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="accordion" id="accordionDevices">
        {% for device in devices_env: %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-{{ devices_env[device].html_element_id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{devices_env[device].html_element_id}}" aria-expanded="false" aria-controls="{{devices_env[device].html_element_id}}">
                    <p class="h6">{{ devices_env[device].hostname }}: ({{ device }})</p>
                </button>
            </h2>
            <div id="{{devices_env[device].html_element_id}}" class="accordion-collapse collapse" aria-labelledby="heading-{{ devices_env[device].html_element_id }}">
                <div class="accordion-body">
                    <div class="row">
                        <input type="hidden" id="contextSize-{{ device }}" value="">
                        <div class="col-sm">
                            <h6>Device vendor: {{ devices_env[device].vendor}}</h6>
                            <h6>Device model: {{ devices_env[device].model}}</h6>
                            <h6>Device os_version: {{ devices_env[device].os_version }}</h6>
                            <h6>Device SN: {{ devices_env[device].sn }}</h6>
                            <h6>Uptime: {{ devices_env[device].uptime }}</h6>
                            <h6>Last environment update: {{ devices_env[device].timestamp }}</h6>
                            <h6>Recent configuration changes: {{ devices_env[device].last_config_timestamp }}</h6>
                            <div class="col text-end">
                                <a href="config_page/{{ device }}" class="btn btn-secondary btn-floating btn-sm" role="button"><i class="bi bi-code-slash"></i></a>
                                <a href="diff_page/{{ device }}" class="btn btn-secondary btn-floating btn-sm" role="button"><i class="bi bi-body-text"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
function trim(str) {
    return str.toString().replace(/,|!/g,'');
}
// Put ajax data in backand
<!--var $j = jQuery.noConflict();-->
function getstatus() {
    $.ajax({
        type: "POST",
        url: "/devices_status/",
        data: JSON.stringify(server_data),
        contentType: "application/json",
        dataType: 'json',
        success: function(result) {
            console.log(result);
            if (result["status"] != "none") {
<!--                console.log(result["status"]);-->
                //show toasts param
<!--                var toastLiveExample = document.getElementById('liveToast')-->
<!--                var toast = new bootstrap.Toast(toastLiveExample)-->
<!--                toast.show();-->
                //
                // show toasts
                var changed = result["status"];
                changed = trim(changed)
                document.getElementById("number-of-changes").innerHTML =  result["status"];
                document.getElementById("changed_config").value =  changed;
                document.getElementById("toasts_strong").innerHTML = "Changes";
                document.getElementById("baseText").value = result["previous_config_file"];
                document.getElementById("small_toast").innerHTML  = document.getElementsByName("date")[0].value;
                diffUsingJS();
            }
            if (result["status"] == "none") {
                console.log(result["status"]);
                //show toasts param
                var toastLiveExample = document.getElementById('liveToast')
                var toast = new bootstrap.Toast(toastLiveExample)
                toast.show();
                //
                // show toasts
                document.getElementById("number-of-changes").innerHTML = result["status"];
                document.getElementById("toasts_strong").innerHTML = "Config";
            }
        }
    });
}
</script>
{% endblock %}