{% extends 'base.html' %} {% block title %}Config compare {{ ipaddress }}{% endblock %} {% block body %}
<script>
    // start diff script after page load
    $(document).ready(function () {
        //same as: $(function() {
        changeFunc();
    });
</script>
<script type="text/javascript" src="{{url_for('static', filename='js/diff_page.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/diff_table.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/difflib.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/table.css')}}" />
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Configs: {{ device_environment["device_hostname"] }} ({{ device_environment["device_ip"] }})</button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                        <input type="hidden" id="contextSize" value="" />
                        <div class="col-sm">
                            <h3 id="previous_config_label">Previous config:</h3>
                            <div class="textarea-container">
                                <textarea class="form-control" id="previousConfig" name="previous_config" disabled></textarea>
                                <button class="btn btn-icon btn-sm" type="button" id="copy-button" onclick="copy('previousConfig', 'copy-button')" title="Copy to Clipboard">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm">
                            <h3>Last config: {{timestamp}}</h3>
                            <div class="textarea-container">
                                <textarea class="form-control" id="lastConfig" disabled>{{ last_config }}</textarea>
                                <button class="btn btn-icon btn-sm" type="button" id="copy-new-button" onclick="copy('lastConfig', 'copy-new-button')" title="Copy to Clipboard">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Copy to clipboard config function
        function copy(areaid, btnid) {
            let textarea = document.getElementById(areaid);
            let button = document.getElementById(btnid);
            textarea.disabled = false;
            textarea.select();
            document.execCommand("copy");
            // Highlight button
            textarea.disabled = true;

            button.classList.add("btn-outline-success");
            let buttonicon = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">';
            buttonicon += '  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>';
            buttonicon += "</svg>";
            button.innerHTML = buttonicon;
            // Revert button label after 3 seconds
            setTimeout(function () {
                button.classList.remove("btn-outline-success");
                let buttonoldicon = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">';
                buttonoldicon += '<path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>';
                buttonoldicon += '<path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>';
                buttonoldicon += "</svg>";
                button.innerHTML = buttonoldicon;
            }, 3000);
        }
    </script>
    <br />
    <div class="row">
        <div class="col-sm">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
<!--                <input class="btn-check text-center" type="radio" name="_viewtype" onclick="diffUsingJS(0);" checked="checked" id="sidebyside" />-->
                <input class="btn-check text-center" type="radio" name="_viewtype" onclick="back_diff(0);" checked="checked" id="sidebyside" />
                <label class="btn btn-outline-secondary text-center align-items-center" for="sidebyside">Side by Side</label>
<!--                <input class="btn-check text-center" type="radio" onclick="diffUsingJS(1);" name="_viewtype" id="inline" />-->
                <input class="btn-check text-center" type="radio" onclick="back_diff(1);" name="_viewtype" id="inline" />
                <label class="btn btn-outline-secondary text-center align-items-center" for="inline">Inline</label>
                <button class="btn btn-outline-secondary js--show-replace" id="date-btn" name="submit-btn" value="">Show changed</button>
                <script>
                    //Button show change context
                    $(".js--show-replace").on("click", function () {
                        var hide = $(".table td:not(.replace,.insert,.empty,.delete)").parents("tr");
                        hide.hide();
                        var show = $(" .replace, .insert, .empty, .delete").parents("tr");
                        show.prev().show();
                        show.prev().prev().show();
                        show.prev().prev().prev().show();
                        show.next().show();
                        show.next().next().show();
                        show.next().next().next().show();
                    });
                </script>
            </div>
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div class="input-group has-validation">
                <select class="selectpicker show-tick form-control" data-live-search="true" data-size="10" id="date" name="date" required="" onchange="changeFunc();">
                    {% if config_timestamp|length > 0: -%} {% for timestamp in config_timestamp -%}
                    <option value="{{timestamp}}">{{timestamp}}</option>
                    {% endfor -%} {% else: -%}
                    <option value="">Choose Date</option>
                    {% endif -%}
                </select>
                <button class="btn btn-danger btn-sm" type="submit" name="del_config_modal_btn" data-bs-toggle="modal" title="Delete lats config" data-bs-target="#ConfirmModal" id="del_config_modal_btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                        />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <br />
    <div>
        <div>
            <input class="form-control" type="text" id="search-table" placeholder="Enter for search" onkeyup="tableSearch()" />
        </div>
        <div id="diffoutput"></div>
    </div>
<script>
    //Search on compare table
function tableSearch() {
    var phrase = document.getElementById("search-table");
    var table = document.getElementById("diff_table");
    var regPhrase = new RegExp(phrase.value, "i");
    var beforeCount = -5;
    var afterCount = 5;
    let foundRows = [];
    for (let i = 1; i < table.rows.length; i++) {
        let flag = false;
        for (let j = table.rows[i].cells.length - 1; j >= 0; j--) {
            flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
            if (flag) break;
        }
        if (flag) {
            foundRows.push(i);
        }
        table.rows[i].style.display = "none";
        table.rows[i].style.backgroundColor = "";
    }
    let tmpRows = [];
    for (let i = beforeCount; i <= afterCount; i += 1) {
        tmpRows.push(...foundRows.map((value) => value + i));
    }
    // console.log('tmpRows', tmpRows)
    let selectedRows = Array.from(new Set(tmpRows))
        .filter((values) => values >= 1)
        .filter((values) => values < table.rows.length);
    // console.log('selectedRows', selectedRows)
    selectedRows.forEach((row) => (table.rows[row].style.display = ""));
}
</script>
<script>
    //function trim(str) {
    //    return str.toString().replace(/,|!/g, "");
    //}
    // Put ajax data in backand
    // var $j = jQuery.noConflict();
    function change_config() {
        document.getElementById("previousConfig").value = "";
        document.getElementById("search-table").value = "";
        var server_data = {
            device_id: "{{ device_environment["device_id"] }}",
            date: document.getElementsByName("date")[0].value,
        };
        // console.log(server_data);
        $.ajax({
            type: "POST",
            url: "/previous_config/",
            data: JSON.stringify(server_data),
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                // console.log(result);
                if (result["status"] != "none") {
                    // var changed = result["status"];
                    // changed = trim(changed);
                    document.getElementById("previousConfig").value = result["previous_config_file"];
                    document.getElementById("small_toast").innerHTML = document.getElementsByName("date")[0].value;
                    //diffUsingJS();
                    back_diff(0, result["previous_config_file"]);
                }
                if (result["status"] == "none") {
                    // console.log(result["status"]);
                    //show toasts param
                    var toastLiveExample = document.getElementById("liveToast");
                    var toast = new bootstrap.Toast(toastLiveExample);
                    toast.show();
                    //
                    // show toasts
                    document.getElementById("number-of-changes").innerHTML = result["status"];
                    document.getElementById("toasts_strong").innerHTML = "Config";
                }
            },
        });
    }
</script>
<script>
    function back_diff(viewType, old) {
        var server_data = {
            device_id: "{{ device_environment["device_id"] }}",
            date: document.getElementsByName("date")[0].value,
        };
        $.ajax({
            type: "POST",
            url: "/diff_configs/",
            data: JSON.stringify(server_data),
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                if (result["status"] == "none") {
                    //show toasts param
                    var toastLiveExample = document.getElementById("liveToast");
                    var toast = new bootstrap.Toast(toastLiveExample);
                    toast.show();
                    //
                    // show toasts
                    document.getElementById("number-of-changes").innerHTML = result["status"];
                    document.getElementById("toasts_strong").innerHTML = "Config";
                    return
                }
                var contextSize = document.getElementById("contextSize").value;
                contextSize = contextSize || null;
                var diffoutputdiv = document.getElementById("diffoutput")
                while (diffoutputdiv.firstChild) diffoutputdiv.removeChild(diffoutputdiv.firstChild);
                diffoutputdiv.appendChild(
                    diffview.buildView({
                        baseTextLines: document.getElementById("previousConfig").value.split('\n'),
                        newTextLines: document.getElementById("lastConfig").value.split('\n'),
                        opcodes: result["opcodes"],
                        baseTextName: "Previous config",
                        newTextName: "Last config",
                        contextSize: contextSize,
                        viewType: viewType,
                    })
                );
            },
        });
    }
</script>
<script>
    //function trim2(str) {
    // return str.toString().replace("^n",'\n');
    //return str.toString().split("#");
    //}
</script>
<script>
    function diffUsingJS(viewType) {
        "use strict";
        var byId = function (id) {
                return document.getElementById(id);
            },
            base = difflib.stringAsLines(byId("previousConfig").value),
            newtxt = difflib.stringAsLines(byId("lastConfig").value),
            sm = new difflib.SequenceMatcher(base, newtxt),
            opcodes = sm.get_opcodes(),
            diffoutputdiv = byId("diffoutput"),
            contextSize = byId("contextSize").value;
        diffoutputdiv.innerHTML = "";
        contextSize = contextSize || null;

        diffoutputdiv.appendChild(
            diffview.buildView({
                baseTextLines: base,
                newTextLines: newtxt,
                opcodes: opcodes,
                baseTextName: "Previous config",
                newTextName: "Last config",
                contextSize: contextSize,
                viewType: viewType,
            })
        );
    }
</script>
<form method="post">
    <div class="modal fade" id="ConfirmModal" tabindex="-1" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ConfirmModalLabel">Delete config</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="ConfirmModalBody">
                    Are you sure you want to delete last config {{ timestamp }}?
                </div>
                <div class="modal-footer" id="ConfirmModalFooter">
                    <button type="submit" class="btn btn-danger" name="del_config_btn" value="{{ last_confog_id }}" id="del_config_btn">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
