{% extends 'base.html' %} {% block title %}Custom Drivers{% endblock %} {% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item" aria-current="page">Settings</li>
        <li class="breadcrumb-item" aria-current="page">Custom Driver</li>
    </ol>
</nav>
<div class="my-3 p-3 bg-body rounded shadow">
    <form method="post" novalidate>
        <table class="table table-sm table-striped table-hover text-muted" cellspacing="0" id="drivers-table">
            <thead>
                <tr>
                    <th scope="col" class="text-center th-sm">#</th>
                    <th scope="col" class="text-center th-sm">Author name</th>
                    <th scope="col" class="text-center th-sm">Vendor</th>
                    <th scope="col" class="text-center th-sm">Model</th>
                    <th scope="col" class="text-center th-sm">Commands</th>
                    <th scope="col" class="text-center th-sm">Action</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for driver in drivers: %}
                <tr>
                    <th scope="row" class="align-middle text-center">{{ driver.html_elements_count }}</th>
                    <td class="align-middle text-center">{{ driver.drivers_name }}</td>
                    <td class="align-middle text-center">{{ driver.drivers_vendor }}</td>
                    <td class="align-middle text-center">{{ driver.drivers_model }}</td>
                    <td class="align-middle text-center" style="width: 400px">
                        {% for command in driver["drivers_commands"] %}
                                    {{command}}<br>
                        {% endfor %}
                    </td>
                    <td class="align-middle text-center">
                        <a href="#" onclick="get_driver_data({{ driver.custom_drivers_id }})" class="btn btn-secondary btn-floating btn-sm text-center align-middle" data-bs-toggle="modal" data-bs-target="#ModalEditDrivers">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 14 14">
                            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                              <path d="m7.5 9l-3 .54L5 6.5L10.73.79a1 1 0 0 1 1.42 0l1.06 1.06a1 1 0 0 1 0 1.42Z" />
                              <path d="M12 9.5v3a1 1 0 0 1-1 1H1.5a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h3" />
                            </g>
                          </svg>
                        </a>
                        <button class="btn btn-danger btn-sm" type="submit" name="del_driver_btn" value="{{ driver.custom_drivers_id }}" id="del_driver_btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path
                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                                />
                            </svg>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>
<div class="modal fade" id="ModalAddDrivers" tabindex="-1" aria-labelledby="ModalAddDrivers" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddUserModalLabel">Add Custom Driver</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" class="needs-validation" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col text-start">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control bg-light text-center" id="name" name="name" placeholder="name" value="" required />
                            <div class="valid-feedback">Greate!</div>
                            <div class="invalid-feedback">Name is invalid!</div>
                        </div>
                        <div class="col text-start">
                            <label for="vendor" class="form-label">Vendor</label>
                            <input type="text" class="form-control bg-light text-center" id="vendor" name="vendor" placeholder="vendor" value="" required />
                            <div class="valid-feedback">Greate</div>
                            <div class="invalid-feedback">Vendor is invalid!</div>
                        </div>
                        <div class="col text-start">
                            <label for="model" class="form-label">Model</label>
                            <input type="text" class="form-control bg-light text-center" id="model" name="model" placeholder="model" value="" required />
                            <div class="valid-feedback">Greate</div>
                            <div class="invalid-feedback">Model list is invalid!</div>
                        </div>
                    </div>
                    <hr>
                    <div class="col text-start">
                        <label for="commands" class="form-label">Commands</label>
                        <input
                            type="text"
                            class="form-control bg-light text-center"
                            id="commands"
                            name="commands"
                            placeholder="term learn 0, sh run"
                            value=""
                            required
                        />
                        <div class="valid-feedback">Greate!</div>
                        <div class="invalid-feedback">Commands is invalid!</div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" type="submit" name="add_driver" value="add_driver" id="add_driver">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalEditDrivers" tabindex="-1" aria-labelledby="ModalEditDrivers" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalEditLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" class="needs-validation" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col text-start">
                            <label for="edit-name" class="form-label">Name</label>
                            <input type="text" class="form-control bg-light text-center" id="edit-name" name="edit-name" placeholder="name" value="" required />
                            <div class="valid-feedback">Greate!</div>
                            <div class="invalid-feedback">Name is invalid!</div>
                        </div>
                        <div class="col text-start">
                            <label for="edit-vendor" class="form-label">Vendor</label>
                            <input type="text" class="form-control bg-light text-center" id="edit-vendor" name="edit-vendor" placeholder="vendor" value="" required />
                            <div class="valid-feedback">Greate</div>
                            <div class="invalid-feedback">Vendor is invalid!</div>
                        </div>
                        <div class="col text-start">
                            <label for="edit-model" class="form-label">Model</label>
                            <input type="text" class="form-control bg-light text-center" id="edit-model" name="edit-model" placeholder="model" value="" required />
                            <div class="valid-feedback">Greate</div>
                            <div class="invalid-feedback">Model list is invalid!</div>
                        </div>
                    </div>
                    <hr>
                    <div class="col text-start">
                        <label for="edit-commands" class="form-label">Commands</label>
                        <input
                            type="text"
                            class="form-control bg-light text-center"
                            id="edit-commands"
                            name="edit-commands"
                            placeholder="term learn 0, sh run"
                            value=""
                            required
                        />
                        <div class="valid-feedback">Greate!</div>
                        <div class="invalid-feedback">Commands is invalid!</div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" type="submit" name="edit_driver_btn" value="" id="edit_driver_btn">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
  function get_driver_data(custom_drivers_id) {
    var server_data = {
      custom_drivers_id: custom_drivers_id,
    };
    $.ajax({
      type: "POST",
      url: "/drivers_settings/",
      data: JSON.stringify(server_data),
      contentType: "application/json",
      dataType: "json",
      // async : false,
      success: function(result) {
        if (result["status"] == "none") {
            //show toasts param
            var toastLiveExample = document.getElementById("liveToast");
            var toast = new bootstrap.Toast(toastLiveExample);
            toast.show();
            // show toasts
            document.getElementById("number-of-changes").innerHTML = "Driver settings could not be loaded";
            document.getElementById("toasts_strong").innerHTML = "Drivers";
        }

        if (result["status"] == "success") {

          $("#ModalDeviceSettingLabel").html(result["device_hostname"] + ": " + "(" + result["device_ipaddress"] + ")");
          //
          $("#device-group").children().remove().end();
          for (let group in result["devices_group"]) {
            if (result["device_group"][group]["group_name"] == result["device_group"]) {
              $("#device-group").append(new Option(result["devices_group"][group]["group_name"], result["devices_group"][group]["devices_group_id"], true, true));
            } else {
              $("#device-group").append(new Option(result["devices_group"][group]["group_name"], result["devices_group"][group]["devices_group_id"]));
            }
          }
          //
          $("#ModalEditLabel").html("Editing driver profile" + ": " + result["drivers_name"]);
          //
          $("#edit-name").val(result["drivers_name"]);
          $("#edit-vendor").val(result["drivers_vendor"]);
          $("#edit-model").val(result["drivers_model"]);
          $("#edit-commands").val(result["drivers_commands"]);
          //
          $("#edit_driver_btn").val(custom_drivers_id);
        }
      },
    });
  }
</script>
<script>
    $(document).ready(function () {
        $("#drivers-table").DataTable({
            searching: true,
            lengthMenu: [
                [10, 20, 50, 100, "-1"],
                [10, 20, 50, 100, "All"],
            ],
            paging: true,
            pageLength: 10,
            pagingType: "simple_numbers",
            aaSorting: [],
            columnDefs: [
                {
                    orderable: false,
                    targets: [4,5],
                },
            ],
        });
        $(".dataTables_length").addClass("bs-select");
    });
</script>
{% endblock %}