{% extends 'base.html' %} {% block title%}Log in{%endblock%} {% block body %}
<div class="col-md-12 col-lg-4 container">
    <form class="form-signin needs-validation" method="post" novalidate>
        <div class="text-center mb-4">
            <img class="mb-4" width="200" height="200" src="{{url_for('static', filename='images/nabs_logo.png')}}" alt="" width="120" height="120" />
            <h1 class="h3 mb-3 font-weight-normal">You need to Log in</h1>
        </div>
        <div class="form-floating">
            <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" value="" required autofocus />
            <label for="inputEmail">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" value="" required />
            <label for="inputPassword">Password</label>
        </div>
        <br />
        <div class="col">
            <button class="w-100 btn btn-lg btn-primary btn-block" type="submit" name="submit-btn" value="login-btn" id="login-btn">Log in</button>
            <!--            <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit-btn" value="signin-btn" id="signin-btn">Sign in</button>-->
        </div>
    </form>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener(
                "submit",
                function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add("was-validated");
                },
                false
            );
        });
    })();
</script>
{% endblock %}