{% extends 'base.html' %} {% block title %}Search device{% endblock %} {% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Search</li>
    </ol>
</nav>

<div class="col-md-12 col-lg-8 container mb-3">
    <form method="post" class="needs-validation" novalidate>
        <div class="row g-2 align-items-center">
            <div class="col-auto">
                <span class="input-group-text bg-transparent border-0 p-0"><i class="bi bi-search fs-5"></i></span>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="search_input" id="search_input" placeholder="Enter request" value="">
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-secondary" type="submit" name="submit-btn" id="search-btn" value="search" disabled>Search</button>
            </div>
        </div>
    </form>
</div>

{% if response_data -%}
<div class="card">
    <div class="card-header">
        <span><i class="bi bi-search"></i> Search Results</span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover align-middle" id="search-table">
                <thead class="table-light">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Ip address</th>
                        <th class="text-center">Timestamp</th>
                        <th class="text-center">Config snippet</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in response_data %}
                    <tr>
                        <th class="align-middle text-center">{{ data["html_element_id"] }}</th>
                        <td class="align-middle text-center"><a href="/config_page/{{ data.device_id }}?date={{ data.timestamp }}" class="link-secondary text-decoration-none">{{ data.device_ip }}</a></td>
                        <td class="align-middle text-center">{{ data.timestamp }}</td>
                        <td class="align-middle">
                            {% for snippet in data.config_snippet -%}
                                {% if snippet != "" -%}
                                    {{ snippet }}<br>
                                {% endif -%}
                            {% endfor -%}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#search-table").DataTable({
            searching: true,
            lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
            paging: true,
            pageLength: 50,
            pagingType: "simple_numbers",
            aaSorting: [],
            columnDefs: [{ orderable: false, targets: [3] }],
            autoWidth: false,
            scrollX: false,
        });
        $(".dataTables_length").addClass("bs-select");
    });
</script>
{% endif -%}

<script>
    $(":input[name='search_input']").change(function (event) {
        var s = $(this).val();
        if (s != '') {
            $(":input[name='search_input']").attr("class", "form-control is-valid");
            $("#search-btn")[0].disabled = false;
        } else if ($(this).val() == "") {
            $(":input[name='search_input']").attr("class", "form-control");
            $("#search-btn")[0].disabled = true;
        } else {
            $(":input[name='search_input']").attr("class", "form-control is-invalid");
            $("#search-btn")[0].disabled = true;
        }
    });

    $(":input[name='search_input']").keyup(function (event) {
        var s = $(this).val();
        if (s != '') {
            $(":input[name='search_input']").attr("class", "form-control is-valid");
            $("#search-btn")[0].disabled = false;
        } else if ($(this).val() == "") {
            $(":input[name='search_input']").attr("class", "form-control");
            $("#search-btn")[0].disabled = true;
        } else {
            $(":input[name='search_input']").attr("class", "form-control is-invalid");
            $("#search-btn")[0].disabled = true;
        }
    });

    $(":input[name='search_input']").click(function (event) {
        var s = $(this).val();
        if (s != '') {
            $(":input[name='search_input']").attr("class", "form-control is-valid");
            $("#search-btn")[0].disabled = false;
        } else if ($(this).val() == "") {
            $(":input[name='search_input']").attr("class", "form-control");
            $("#search-btn")[0].disabled = true;
        } else {
            $(":input[name='search_input']").attr("input", "form-control is-invalid");
            $("#search-btn")[0].disabled = true;
        }
    });
</script>
{% endblock %}